.wrapper {
  height: 100vh;
  background-size: cover;
  width: 100%
}

.overlay {
  width: 100%;
  height: 100vh;
}

.contact-us {
  margin-top: 50px;
  margin-bottom: 50px
}

.address {
  margin-top: 14px !important;
  margin-left: 10px
}

.address span {
  color: #7B1FA2
}

.icons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center
}

.icons i {
  font-size: 20px
}

.forms {
  padding: 20px
}

.inputs input {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #eee
}

.inputs input:focus {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #7B1FA2;
  box-shadow: none
}

.inputs textarea {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #eee;
  width: 100%;
  resize: none
}

.inputs textarea:focus {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #7B1FA2;
  box-shadow: none;
  resize: none
}

.form-control {
  padding: .375rem .25rem
}

.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: white;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
 background-color:steelblue;
  color: white;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:black;
  position: fixed;
  height: 100%;
  overflow: auto;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  flex-wrap: wrap;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  
  .socials{
    display: flex;
    flex-direction: column;
  }

  .socials li{
    padding: 0.5em;
  }
}
span{
  font-weight: bolder;
}